@model MVC5StoreApp.Models.Item

@{
    ViewBag.Title = "Item - " + Model.Title;
}

<h2>@Model.Title</h2>
<p>
    <img alt="@Model.Title" src="@Model.ItemUrl" />
 </p>

<div id="item-details">
    <p>
        <em>Genre: </em>
        @Model.Genre.Name
    </p>
    <p>
        <em>Product:</em>
        @Model.Product.Name
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}",Model.Price)
    </p>
    <p class="button">
        @Html.ActionLink("Add to Cart", "AddToCart","ShoppingCart", new { id = Model.ItemId},"")
    </p>
</div>
